@{
    ViewBag.Title = "Connecting to Twitter";
}

<div class="wrapper2">
    <div class="pad">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h1>Connecting to Twitter API</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">Browse to the Twitter <a href="https://apps.twitter.com/">application management</a> and click on your new twitter application.</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    Locate the tab called 'Keys and Access tokens' (shown below) and click on it. Copy the 'Consumer Key', 'Consumer Secret', 'Access Token' and the 'Access Token Secret' into a notepad document as we will need these values later.
                    You may have to generate an access token (in the event it is not provided) by clicking the 'Generate my Access Token and Token Secret' button.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/applicationManagement.png")" id="applicationManagement" alt="Twitter Application Management" style="width:30%; height:70%; border: 1px solid; border-radius: 15px;"/>
                </div>
                <div class="text-center" style="margin-bottom: 1%"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="managementApp" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="managementAppImg">
            <div id="caption" style="color: white; text-align: center; margin-top: 5%"></div>
        </div>


        <div class="row">
            <div class="col">
                <div class="allign">Open visual studio and create a new solution. The easiest option will be to create a command line application.</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">Right click on the project and click 'Manage NuGet Packages'. Click on the Browse tap and type 'LinqToTwitter' as shown below. Make sure you are searching across all package sources.</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/nuget.png")" id="nugetImage" alt="Installing API to the c# project" style="width:30%; height:70%; border: 1px solid; border-radius: 15px;" />
                </div>
                <div class="text-center" style="margin-bottom: 1%"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="nugetStuff" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="NugetStuffImg">
            <div id="caption1"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">Install the package to your project, this will allow you to access to all functions within the API. In order to use this API you will need to reference it within every class by placing <b>using LinqToTwitter;</b> at the top of each class.</div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="allign">Take the keys and tokens you have from the notepad document and paste these values into a new class. In this example the class  is named 'ConnectToTwitter' as shown below:</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/consoleAppConnection.png")" id="consoleAppConnection" alt="Connecting to twitter in a console app" style="width: 30%; height: 70%; border: 1px solid black; border-radius: 15px;" />
                </div>
                <div class="text-center" style="margin-bottom: 1%"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="cac" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="cacImg">
            <div id="caption2"></div>
        </div>

        <br />
        <div class="row">
            <div class="col">
                <div class="allign"><b>If you do not copy the credentials correctly, you will not be able to send any requests as Twitter will be unable to authenticate your access.</b></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div style="clear: both; margin-left: auto; margin-right: auto; display: table; margin-top: 2%;">
                    @Html.ActionLink("Previous", "TwitterApp", "Tutorial", null, new { @class = "prev" })
                    @Html.ActionLink("Next", "HowToGetUserDetails", "Tutorial", null, new { @class = "next" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('managementApp');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('applicationManagement');
        var modalImg = document.getElementById("managementAppImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('nugetStuff');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('nugetImage');
        var modalImg = document.getElementById("NugetStuffImg");
        var captionText = document.getElementById("caption1");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[1];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('cac');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('consoleAppConnection');
        var modalImg = document.getElementById("cacImg");
        var captionText = document.getElementById("caption2");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[2];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

}
