<div class="wrapper2">
    <div class="pad">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h1>How to get user details</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    The Twitter API allows you to access information about a user's account. It was surprised to see how much information is publically
                    available through the API. The information you can retrieve from the API is fairly extensive and would not be obvious looking at their account on the Twitter website.
                </div>
            </div>
        </div>
     
        <div class="row">
            <div class="col">
                <div class="allign">
                    Before we get started, we need to set up our Console Application to be able to perform all three actions within the Demo tab. In order to do this we will use some key words to distinguish between the different 
                    actions as shown below. We also need to call the 'ConnectionToTwitter' class, I would suggest creating a static instace of the 'ConnectionToTwitter' class within your main program class as shown below.
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/setupConsoleApp.png")" id="setupConsoleApp" alt="Console Application Setup" style="width: 30%; height: 95%; border: 1px solid; border-radius: 15px;" />
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>
        
        <div id="sca" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="scaImg">
            <div id="caption" style="color: white; text-align: center; margin-top: 5%"></div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="allign">
                    The following steps, will show how to retreieve a user's description, the date they joined twitter, email address,  amount of followers, profile image and their most recent tweet.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    The first thing we need to do is to create a class which will act as an object for all of this data. I am going to call my class 'UserModel' and this is shown in the image below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/userModel.png")" id="userModel" alt="User details model" style="width: 30%; height: 95%; border: 1px solid; border-radius: 15px;" />
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>
        
        <div id="udm" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="udmImg">
            <div id="caption1" style="color: white; text-align: center; margin-top: 5%"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    We will now need to make a request to the API to retrieve these details. I used the 'LinqToTwitter' <a href="https://github.com/JoeMayo/LinqToTwitter/wiki/Making-API-Calls">documentation</a> in order to request this information.
                    I created a method called 'UserDetails' which prints all the user details to the Console Application. All of this information is retrieved by the API as shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/returnUserDetails.png")"  id="returnUserDetails" alt="Getting user details from API" style="width: 30%; height: 95%; border: 1px solid; border-radius: 15px;" />
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="rud" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="rudImg">
            <div id="caption2" style="color: white; text-align: center; margin-top: 12%"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    If you want to see the results of this method click the 'User Details' section within the Demo tab.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div style="clear: both; margin-left: auto; margin-right: auto; display: table; margin-top: 2%;">
                    @Html.ActionLink("Previous", "Connect", "Tutorial", null, new { @class = "prev" })
                    @Html.ActionLink("Next", "HowTweets", "Tutorial", null, new { @class = "next" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('sca');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('setupConsoleApp');
        var modalImg = document.getElementById("scaImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('udm');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('userModel');
        var modalImg = document.getElementById("udmImg");
        var captionText = document.getElementById("caption1");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[1];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>

    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('rud');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('returnUserDetails');
        var modalImg = document.getElementById("rudImg");
        var captionText = document.getElementById("caption2");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[2];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>
}
