@{
    ViewBag.Title = "How To Send Tweets";
}
<div class="wrapper2">
    <div class="pad">
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h1>How to send Tweets via the API</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">By this point in the tutorial you would have sucessfully authenticated with Twitter, retrieved user details and retrieved tweets from a user.</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    In order to send tweets, the first thing we need to do is update the main method of the program. We need to get the message the user wants to send and save this into a variable.
                    We will also need to pass this variable to a 'MessageToSend' method as shown below.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/getMessageFromUser.png")" id="getMessageFromUser" alt="Getting a message to send from user" style="width: 30%; height: 80%;  border: 1px solid; border-radius: 15px;" />
                </div>
                <div class="text-center"><b>Click image to expand</b></div>
            </div>
        </div>

        <div id="gmfu" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="gmfuImg">
            <div id="caption" style="color: white; text-align: center; margin-top: 5%"></div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    The 'MessageToSend' method should contain the following code; this will take the user's message and attempt to send it via the API.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/messageToSend.png")" alt="Message to Send method" style="width: 30%; height: 80%;  border: 1px solid; border-radius: 15px;" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="allign">
                    You will then need to create the 'SendTheTweet' async method, remember to use the same authentication and Twitter context as before (shown below).
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="text-center">
                    <img src="@Url.Content("/images/sendTweet.png")" alt="Sent tweet method" style="width: 30%; height: 80%;  border: 1px solid; border-radius: 15px;" />
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="allign">
                    After sending your tweet via the Console Application, you can open the twitter website and you should see the tweet displayed on your Twitter page. 
                    If you want to see the results of this method click the 'Send Tweet' section within the Demo tab however due to security issues functionality has not been enabled and a dummy page is displayed.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div style="clear: both; margin-left: auto; margin-right: auto; display: table; margin-top: 2%;">
                    @Html.ActionLink("Previous", "HowTweets", "Tutorial", null, new { @class = "prev" })
                    @Html.ActionLink("Next", "EndResult", "Tutorial", null, new { @class = "next" })
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('gmfu');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById('getMessageFromUser');
        var modalImg = document.getElementById("gmfuImg");
        var captionText = document.getElementById("caption");
        var navbar = document.getElementById("navbar");
        var style = navbar.style.display;

        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
            navbar.style.display = "none";
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            navbar.style.display = style;
        }
    </script>
}